##############################################################################
# Configurations for external test databases
##############################################################################
# Copy this file to databases.properties and follow the instructions below to
# enable the external database systems for unit tests.
##############################################################################

# Use only the following DBs (or use all if not set)
#testDBs = mypostgres

# Store database files in this path instead of the test-dbs dir
testDir = r:/test-dbs

# PostgreSQL quick setup:
# - Install PostgreSQL server with default options
# - Change password in mypostgres.password
# - Set mypostgres.enabled = true
mypostgres.enabled = false
mypostgres.url = jdbc:postgresql:[DB]
mypostgres.user = postgres
mypostgres.password = secret
mypostgres.adminDB = postgres
mypostgres.testDB = slick-test
mypostgres.create = CREATE TABLESPACE slick_test LOCATION '[DBPATH]'; CREATE DATABASE "[DB]" TEMPLATE = template0 TABLESPACE slick_test
mypostgres.drop = DROP DATABASE IF EXISTS "[DB]"; DROP TABLESPACE IF EXISTS slick_test
mypostgres.driver = org.postgresql.Driver
